body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  font-family: "Inter";
}
main {
  overflow-x: hidden;
}

#testimonial {
  .slick-slide {
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
  }
  .slick-slide img {
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
  }
  .slick-center {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1);
  }
  .slick-dots {
    bottom: -30px !important;
    transform: translate(0%, 50px) !important;
  }

  @media screen and (max-width: 768px) {
    .slick-dots {
      right: 20%;
    }
  }
  @media screen and (max-width: 526px) {
    .slick-dots {
      left: -35%;
    }
  }
  .slick-dots ul {
    list-style-type: none;
  }
  .slick-dots li.slick-active div {
    background-color: #00ffd9 !important;
  }
  .slick-dots li div {
    width: 100%;
    background-color: #d9d9d9;
    height: 4px;
  }
  .slick-dots li {
    width: 16px !important;
  }
  .slick-dots li.slick-active {
    width: 36px !important;
  }
}

p {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
