body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  font-family: "Inter";
}
main {
  overflow-x: hidden;
}

#testimonial {
  .slick-slide {
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
  }
  .slick-slide img {
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
  }
  .slick-center {
    background-image: url("/images/product-service/phone-screen/phone15.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1);
  }
  .slick-dots {
    bottom: -30px !important;
  }
  .slick-dots ul {
    list-style-type: none;
  }
  .slick-dots li.slick-active div {
    background-color: #00ffd9 !important;
  }
  .slick-dots li div {
    width: 100%;
    background-color: #d9d9d9;
    height: 2px;
  }
  .slick-dots li {
    width: 16px !important;
  }
  .slick-dots li.slick-active {
    width: 36px !important;
  }
}

p {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}