@import "../variables.scss";

.wrapper {
  height: 550px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  .mainTitle {
    color: rgb(2, 162, 162);
    text-align: center;
    font-size: 20px;
    padding: 20px;
    position: absolute;
    z-index: 1;
    top: 0;
  }
  .image {
    position: absolute;
    z-index: -1;
    width: 100%;
  }
  .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    img {
      width: 100%;
      height: 190%;
      object-position: center;
      object-fit: cover;
      filter: brightness(50%);
    }
  }
  .content {
    width: 100%;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: row;
    place-items: center;
    margin: auto;
    padding: 60px;
    box-sizing: border-box;
    max-width: $max-width-container;
    gap: 30px;
    z-index: 1;
    .leftContent {
      color: #343434;

      h1 {
        color: #03c9cf;
      }
      p,
      h3 {
        font-weight: 400;
      }
    }
    .rightContent {
      display: flex;
      img {
        width: 500px;
        object-fit: cover;
        height: auto;
        border-radius: 25px;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .wrapper {
    .content {
      box-sizing: border-box;
      padding: 50px 18px;
      flex-direction: column;
      .leftContent {
        h1 {
          font-size: 24px;
        }
        p,
        h3 {
          font-size: 16px;
        }
      }
      .rightContent {
        img {
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .wrapper {
  }
}
