@import "../variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  min-height: 550px;
  h1 {
    color: #03c9cf;
  }
  .blogPost {
    max-width: $max-width-container;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    .post {

      z-index: 10;
      width: calc(33% - 10px);
      overflow: hidden;
      box-shadow: 0 20px 50px rgba(161, 161, 161, 0.8);
      cursor: pointer;
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
      }
      .content {
        margin: 0 20px;
        padding: 10px;
        border-radius: 10px;
        transform: translateY(-10px);
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        gap: 8px;
        p {
          color: rgb(116, 116, 116);
          display: -webkit-box;
          -webkit-line-clamp: 4; 
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        h3 {
          font-size: 12px;
          margin-bottom: 10px;
        }
        .date {
          font-size: 12px;
          font-style: italic;
          color: #d35300;
        }
      }
      .postImage {
        transition: transform 0.3s ease-in-out;
      }
      &:hover {
        .postImage {
          transform: translateY(10px);
        }
        .content {
          transform: translateY(-20px);
        }
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .wrapper{
    .blogPost{
      box-sizing: border-box;
      padding: 0 18px;
      .post{
        width: calc(50% - 10px);
      }
    }
  }
}
@media screen and (max-width: $sm) {
  .wrapper{
    .blogPost{
      flex-direction: column;
      .post{
        width: 100%;
      }
    }
  }
}
