$font-family-primary: "Montserrat", sans-serif;
$font-family-secondary: "Roboto Slab", serif;
@import "../variables.scss";

.heroSlider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .carouselCell {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba(30, 40, 54, 0.8),
        rgba(14, 29, 51, 0.2)
      );
    }

    .inner {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: $max-width-container;
      margin: auto;

      .subtitle {
        font-family: $font-family-primary;
        font-size: 2.2rem;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 5px;
      }

      .title {
        font-family: $font-family-secondary;
        font-size: 3rem;
        margin-bottom: 40px;
      }

      .btn {
        border-radius: 30px;
        width: fit-content;
        margin: auto;
        border: 1px solid #fff;
        padding: 14px 18px;
        color: #fff;
        text-decoration: none;
        transition: all 0.2s ease;

        &:hover {
          background: #fff;
          color: #000;
        }
      }
    }
  }

  .flickity-prev-next-button {
    width: 80px;
    height: 80px;
    background: transparent;

    &:hover {
      background: transparent;
    }

    .arrow {
      fill: white;
    }
  }

  .flickity-page-dots {
    bottom: 30px;

    .dot {
      width: 30px;
      height: 4px;
      opacity: 1;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 0;

      &.is-selected {
        background: #f00;
      }
    }
  }
}
