@import "../variables.scss";


.wrapper {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  .mainTitle {
    color: rgb(2, 162, 162);
    text-align: center;
    font-size: 24px;
    padding: 20px;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  img {
    position: absolute;
    z-index: -1;
    width: 120%;
  }
  .container {
    max-width: $max-width-container;
    margin: auto;
    align-items: center;
    .item {
      border-radius: 10px;
      box-sizing: border-box;
      padding: 20px;
      background-color: rgb(210, 200, 200);
      display: flex;
      flex-direction: column;
      gap: 10px;
      h3 {
        text-align: center;
      }
      p {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
      }
      button {
        width: 100%;
        border-radius: 20px;
        padding: 5px;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .wrapper {
    h1 {
      font-size: 18px;
    }
    .container {
      box-sizing: border-box;
      padding: 10px 18px;
    }
  }
}

@media screen and (max-width: $sm) {
  .wrapper {
    h1 {
      font-size: 18px;
    }
    .container {
      box-sizing: border-box;
      padding: 0px 18px;
      .item {
        width: 200px;
      }
    }
  }
}
