@import "../variables.scss";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("/images/1.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
  max-height: fit-content;
  h1 {
    color: rgb(2, 162, 162);
  }
  .container {
    max-width: $max-width-container;
    margin: auto;
    .item {
      border-radius: 10px;
      box-sizing: border-box;
      padding: 20px;
      background-color: rgb(210, 200, 200);
      display: flex;
      flex-direction: column;
      gap: 10px;
      .avatar {
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .wrapper {
    h1 {
      font-size: 18px;
    }
    .container {
      box-sizing: border-box;
      padding: 10px 18px;
    }
  }
}
